ul li{
  list-style-type: none;
  color:white;
}
.navbar{
  background-color: #0B3142;
}
.general{
  display:flex;
  justify-content:space-around;
}
.col-md-4{
  height:300px;
}
h3{
  font-weight: bold;
  font-size: 60px;
}
.business{
  display:flex;
  justify-content:space-around;
}
.sports{
  display:flex;
  justify-content:space-around;
}
.science{
  display:flex;
  justify-content:space-around;
}
.technology{
  display:flex;
  justify-content:space-around;
}
