{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> Home -Let us get to the briefs </title>
  {% endif %}
  {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}
</head>

<body>
  {%block content%}
  <div class="container_fluid">
    <h1> Let's catchup</h1>
    <div class="general">
      <h3> General source</h3>
      <ul>
        {% for general_news in general %}
        <li>
          <p>{{ general_news.name}}</p><br>
          <p>{{general_news.description}}</p><br>
          <p><button type="button" name="Read more">{{general_news.url}}</button></p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="business">
      <!--Business source-->
      <h3>Business source </h3>
      <ul>
        <li>
        {%for business_news in business%}
        <p>{{ business_news.name}}</p><br>
        <p>{{business_news.description}}</p><br>
        <p><button type="button" name="Read more">{{business_news.url}}</button></p>
      </li>
        {%endfor%}

    </div>
    <div class="technology">
      <!--Technology source-->
      <h3>Technology source </h3>
      <ul>
        {%for technology_news in technology%}
        <li>
        <p>{{ technology_news.name}}</p><br>
        <p>{{technology_news.description}}</p><br>
        <p><button type="button" name="Read more">{{technology_news.url}}</button></p>
      </li>
        {%endfor%}
      </ul>

    </div>
    <div class="sports">

      <!--Sports source-->
      <h3>Sports source </h3>
      <ul>
        {%for sport_news in sports%}
        <li>
        <p>{{sport_news.name}}</p><br>
        <p>{{sport_news.description}}</p><br>
        <p><button type="button" name="Read more">{{sport_news.url}}</button></p>
      </li>
        {%endfor%}
      </ul>
    </div>
    <div class="science">
      <!--Science source-->
      <h3>science source </h3>
      <ul>
        {%for science_news in science%}
        <li>
        <p>{{science_news.name}}</p><br>
        <p>{{science_news.description}}</p><br>
        <p><button type="button" name="Read more">{{science_news.url}}</button></p>
      </li>
        {%endfor%}
      </ul>
    </div>




  </div>
  {%endblock%}

</body>

</html>
